body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
  }
  
  .calculator {
    background: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(218, 17, 17);
    width: 340px;
  }
  
  #display {
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #7e7676;
    color: rgb(233, 71, 71);
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background: #cabfbf;
  }
  
  button:active {
    background: #f70505;
  }
  